:root {
    --scroogeBlue: #4665FF;
    --scroogeTeal: #6BF9EB;
    --scroogeOrange: #FB9939;
    --scroogeRed: #FA0605;
    --scroogeYellow: #DDF21C;
    --scroogeBrown: #92380A;
    --pokeBallRed: #FD0100;
    --pokeBallGrey: #B7B7B7;
    --mushroomRed: #EA0606;
    --marioRed: #FE0002;
    --ghostRed: #D73726;
    --ghostGrey: #B4B4B4;
    --flowerOrange: #EB8131;
    --flowerRed: #E13530;
    --flowerDarkGreen: #49B450;
    --flowerLightGreen: #B5E34D;
    --beige: #FFD987;
    --brown: #6A0400;
    --blue: #0001FC;
    --yellow: #FEFA5C;
    --white: #fff;
    --black: #000;
  }

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--white);
}

.mb {
    margin: 1em;
}

.wrapper {
    display: flex;
}

.wrapper div {
    width: 25px;
    height: 25px;
    border-radius: 0;
    /*border: 1px solid #000;*/

}

.mario div, .ghost div, .flower div, .mushroom div, .pokeball div, .scrooge div {
    width: 4px;
    height: 4px;
}

.scrooge div {
    height: 20px;
    width: 20px;
    border-radius: 0;
}

.scroogeWrapper {
    background-color: var(--ghostGrey);
    display: inline-flex;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    flex-direction: row;
    margin: 6em 0;
}

.scrooge {
    display: inline-table;
}

.scroogeBlue {
    background-color: var(--scroogeBlue);
}

.scroogeOrange {
    background-color: var(--scroogeOrange);
}

.scroogeRed {
    background-color: var(--scroogeRed);
}

.scroogeTeal {
    background-color: var(--scroogeTeal);
}

.scroogeYellow {
    background-color: var(--scroogeYellow);
}

.scroogeBrown {
    background-color: var(--scroogeBrown);
}

.pokeBallRed {
    background-color: var(--pokeBallRed);
}

.pokeBallGrey {
    background-color: var(--pokeBallGrey);
}

.mushroomRed {
    background-color: var(--mushroomRed);
}

.flowerOrange {
    background-color: var(--flowerOrange);
}

.flowerRed {
    background-color: var(--flowerRed);
}

.flowerLightGreen {
    background-color: var(--flowerLightGreen);
}

.flowerDarkGreen {
    background-color: var(--flowerDarkGreen);
}

.white {
    background-color: var(--white);
}

.black {
    background-color: var(--black);
}

.marioRed {
    background-color: var(--marioRed);
}

.ghostRed {
    background-color: var(--ghostRed);
}

.ghostGrey {
    background-color: var(--ghostGrey);
}

.blue {
    background-color: var(--blue);
}

.beige {
    background-color: var(--beige);
}

.brown {
    background-color: var(--brown);
}

.yellow {
    background-color: var(--yellow);
}